# Object files
*.o
*.ko
*.pyc

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.x
*rh15d_lteray
*rh15d_ray
*rh15d_ray_pool

# Packages and other stuff
*.tgz
*.tar.gz
*.tar.bz2

# Directories
Atoms
rh15d_mpi/run/
rhf1d/run/
rhsc2d/run/
rhsc3d/run/
rhsphere/run/

