# Object files
*.o
*.ko
*.pyc
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.x
*rh15d_lteray
*rh15d_ray
*rh15d_ray_pool
*rhf1d
*backgrcontr
*solve1d
*solveray

# Packages and other stuff
*.tgz
*.tar.gz
*.tar.bz2
*.dat
*.old
*.orig
.DS_Store
.ipynb_checkpoints


# Directories
Atoms
rh15d/run/
rh15d/run?/
rh15d/run_t*/
rhf1d/run/
rhsc2d/run/
rhsc3d/run/
rhsphere/run/

